/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

$chadwick-theme-primary: mat-palette($mat-indigo, A800);

$chadwick-theme-accent: mat-palette($mat-light-blue, A800);

$chadwick-theme-warn: mat-palette($mat-red);

$chadwick-theme: mat-light-theme(
  $chadwick-theme-primary,
  $chadwick-theme-accent,
  $chadwick-theme-warn
);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.mat-button {
  background-color: mat-color($chadwick-theme-primary);
  color: mat-color($chadwick-theme-accent);
}
