<div class="example-container">
  <h2>Tasks</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[choiceOneList, choiceTwoList, choiceThreeList, choiceFourList, choiceFiveList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Choice 1</h2>

  <div
    cdkDropList
    #choiceOneList="cdkDropList"
    [cdkDropListData]="choiceOne"
    [cdkDropListConnectedTo]="[choiceTwoList, todoList, choiceThreeList, choiceFourList, choiceFiveList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of choiceOne" cdkDrag>{{item}}</div>
  </div>

  <h2>Choice 2</h2>
  <div
    cdkDropList
    #choiceTwoList="cdkDropList"
    [cdkDropListData]="choiceTwo"
    [cdkDropListConnectedTo]="[todoList, choiceOneList, choiceThreeList, choiceFourList, choiceFiveList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of choiceTwo" cdkDrag>{{item}}</div>
  </div>

  <h2>Choice 3</h2>
  <div
    cdkDropList
    #choiceThreeList="cdkDropList"
    [cdkDropListData]="choiceThree"
    [cdkDropListConnectedTo]="[todoList, choiceOneList, choiceTwoList, choiceFourList, choiceFiveList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of choiceThree" cdkDrag>{{item}}</div>
  </div>

  <h2>Choice 4</h2>
  <div
    cdkDropList
    #choiceFourList="cdkDropList"
    [cdkDropListData]="choiceFour"
    [cdkDropListConnectedTo]="[todoList, choiceOneList, choiceTwoList, choiceThreeList, choiceFiveList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of choiceFour" cdkDrag>{{item}}</div>
  </div>

  <h2>Choice 5</h2>
  <div
    cdkDropList
    #choiceFiveList="cdkDropList"
    [cdkDropListData]="choiceFive"
    [cdkDropListConnectedTo]="[todoList, choiceOneList, choiceTwoList, choiceThreeList, choiceFourList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of choiceFive" cdkDrag>{{item}}</div>
  </div>
</div>
