<div class="example-container">
  <h2>Tasks</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList, choiceTwoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Choice Priority</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[choiceTwoList, todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>

  <h2>Choice 2</h2>
  <div
    cdkDropList
    #choiceTwoList="cdkDropList"
    [cdkDropListData]="choiceTwo"
    [cdkDropListConnectedTo]="[todoList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of choiceTwo" cdkDrag>{{item}}</div>
  </div>
</div>
