<body>
  <div class="hidden">
    <img src="../../assets/images/WickLogo.png" class="float-image" />

    <!-- winner -->
    <p class="center">
      The ranked choice winner is&nbsp;<span class="bold"
        >{{ solution }} {{ solutionPercent }}</span
      >
    </p>

    <!-- runner up -->
    <p class="center">
      The ranked choice runnerup is&nbsp;<span class="bold"
        >{{ secondPlace }} {{ secondPlacePercent }}</span
      >
    </p>

    <!-- breakdown -->
    <p class="center">
      The voting breakdown is: &nbsp;<span class="bold">{{
        normalVoting
      }}</span>
    </p>

    <!-- choose the survey to get results from -->
    <mat-form-field class="center">
      <mat-label>Select Survey</mat-label>
      <mat-select [(value)]="surveyName">
        <mat-option
          *ngFor="let name of surveyNames; let i = index"
          [(value)]="name"
          (click)="setName(name)"
        >
          {{ name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <!-- load data -->
    <div class="center">
      <button mat-stroked-button color="primary" (click)="fetchAndSolve()">
        Get the winner
      </button>
    </div>

    <div class="center">
      <button style="position: absolute; top: 405px" mat-raised-button color="warn" (click)="delete()">
        Delete This Survey
      </button>
      
    </div>

    <!-- the students who have voted -->
    <div class="center2">
      <p>
        <br />
        Students who have already submitted their votes:
      </p>
      <li *ngFor="let student of students">{{ student.name }} <br /></li>
    </div>
  </div>
</body>
