.name {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 25px;
  width: 400px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

