<label class="survey">Manage Surveys</label>
<div class="center">
    <button routerLink="/view-data" mat-stroked-button="data" color="primary" class="data">View Survey Results</button>
</div>

<div class="center">
    <button style="position: absolute; left: 50px; top: 210px" mat-raised-button color="warn" (click)="delete()">Delete a Survey</button>
</div>

<div class="center">
    <button style="position: absolute; top: 405px" mat-raised-button color="warn" (click)="delete()">
      Delete This Survey
    </button>