<label class="survey">Manage Surveys</label>
<div class="center">
    <button style="position: absolute; left: 30px; top: 175px" routerLink="/view-data" mat-raised-button color="primary">View Survey Results</button>
</div>

<div class="center">
    <button style="position: absolute; left: 360px; top: 175px" mat-raised-button color="warn" (click)="delete()">Delete a Survey</button>
</div>

<div class ="center">
    <button style="position: absolute; left: 220px; top: 175px" mat-raised-button color="primary" routerLink="/my-surveys">My Surveys</button>
</div>